.not-found {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  h1,
  h2 {
    padding: 20px 10px;
    margin-bottom: 2rem;
    background-color: $color4;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color4;
    clip-path: polygon(100% 40%, 0% 100%, 100% 100%);
  }
}
